.tab-button {
    background-color: #f0f0f0;
    margin-right: -1px;
    margin-bottom: -1px;
    padding: 6px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tab-button:hover {
    background-color: #e0e0e0;
}

.tab-button.active {
    background-color: #e0e0e0;
}

.tab-component {
    padding: 10px;
    border: 1px solid #ccc;
}

.posts-tab {
    display: flex;
}

.posts-sidebar {
    max-width: 40vw;
    padding: 0 10px 0 0;
    margin: 0;
    list-style-type: none;
    border-right: 1px solid #ccc;
}

.posts-sidebar > li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.posts-sidebar > li:hover {
    background-color: #eee;
}

.posts-sidebar > li.selected {
    background-color: lightblue;
}

.selected-post-container {
    padding-left: 10px;
}

.selected-post > :first-child {
    margin-top: 0;
    padding-top: 0;
}